
.view {
  width: 1440px;
  
}

body {
  height: 800px;
font-family: 'Lexend Deca', sans-serif;
}

.container {
  width: 900px;
  height: 500px;
  display: flex;
  background-color: lightgreen;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  padding-left: 50px;
  padding-top: 50px;
  
 
}

.suvs {
  width: 100%;
  background-color: hsl(184, 100%, 22%);
padding-left: 50px;
padding-top: 50px;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
padding-left: 50px;
padding-top: 50px;
}

.title {
  color: hsl(0, 0%, 95%);
font-family: "Big Shoulders Display";
margin-top: 30px;
}

.description {
  color:hsla(0, 0%, 100%, 0.75);
  margin-top: 25px;
  margin-right: 40px;
  line-height: 25px;
}

.btn {
  width: 145px;
  height: 45px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 26px;
  font-size: 15px;
  margin-top: 75px;
  font-weight: 600;
}

.sedans .btn {
color: hsl(31, 77%, 52%);
}

.sedans .btn:hover {
background-color: hsl(31, 77%, 52%);
border: 0.15em solid hsl(0, 0%, 95%);
color: hsl(0, 0%, 95%);

}

.suvs .btn {
color:hsl(184, 100%, 22%);
}

.suvs .btn:hover {
background-color:hsl(184, 100%, 22%);
border: 0.15em solid hsl(0, 0%, 95%);
color: hsl(0, 0%, 95%);
}

.luxury .btn{
color: hsl(179, 100%, 13%);
}

.luxury .btn:hover {
background-color: hsl(179, 100%, 13%);
border: 0.15em solid hsl(0, 0%, 95%);
color: hsl(0, 0%, 95%);
}

.attribution {
  text-align: center;
  margin-left: 60px;
}


@media only screen and (max-width: 375px) {

.container {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 100%;
        


}